# --------------------
# git-exclusions
# --------------------

# python
*.pyc
**/.cache

# package and distribution
.pypirc
**/.coverage
**.egg-info
**/dist/
**/htmlcov

# OS related
.DS_Store

# pycharm related
**/.idea
**/.agent-reports

# logfile related
**/*.log

# publish artifacts (generated transiently by publish-to-irides)
.version
